<div id="json-composite">
	<div id="validator-placeholder1"></div>
	<div id="validator-placeholder2"></div>
	<div id="diff-placeholder"></div>
	
	<a href="#" title="Tips and Tricks" id="help"><span class="icon">Tips and Tricks</span></a>
	
	<div id="tips-and-tricks">
		<a id="close-tips" class="close-btn" href="#">X</a>
		
		<h1>JSON Lint Pro</h1>		
		<h2>The easiest way to validate and format JSON</h2>
		<ul>
			<li>Type your JSON into the textarea, or enter a remote URL</li>
			<li>Use the split mode to speed up your workflow, or to run a diff.</li>
			<li>Use the delete button to quickly clear your input.</li>
		</ul>
		
		<p>A project from the <a href="http://lab.arc90.com">Arc90 Lab</a>. Check out the source on <a href="https://github.com/arc90/jsonlintpro">GitHub</a>. Props to <a href="http://www.crockford.com/">Douglas Crockford</a> of <a href="http://www.json.org">JSON</a> and <a href="http://www.jslint.com">JS Lint</a>, and <a href="http://zaa.ch/">Zach Carter</a>, who provided the <a href="https://github.com/zaach/jsonlint"> JS implementation of JSONlint</a>.</p>
	</div>
</div>