<form class="JSONValidate" method="post" action="." name="JSONValidate">
	<textarea class="json_input" name="json_input" class="json_input" rows="30" cols="100" spellcheck="false" placeholder="Welcome to JSON Lint. Enter your data or a URL to validate..."></textarea>
	
	<a href="#" title="Run validation" class="button validate"><span class="icon">Lint Me!</span></a>
	<a href="#" title="Compare two JSON sets" class="button split-view"><span class="icon">Split View</span></a>	
	<a href="#" title="Delete the current data" class="button reset"><span class="icon">Reset</span></a>
	<a href="#" title="Run validation and perform a diff" class="button diff"><span class="icon">Diff</span></a>

	<pre class="results"></pre>
</form>