<form class="JSONValidate" method="post" action="." name="JSONValidate">
	<textarea class="json_input" name="json_input" class="json_input" rows="30" cols="100" spellcheck="false" placeholder="Welcome to JSON Lint. Enter your data or a URL to validate..."></textarea>
	
	<a href="#" class="button validate"><span class="icon">Lint Me!</span></a>
	<a href="#" class="button split-view"><span class="icon">Split View</span></a>	
	<a href="#" class="button reset"><span class="icon">Reset</span></a>
	
	<pre class="results"></pre>
</form>